        <footer>
            <p>Adresa sediului central: <a href="https://www.google.com/maps/place/Facultatea+de+Matematică+și+Informatică/@44.4355355,26.0995867,17z/data=!3m1!4b1!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank">Strada Plantelor, nr. 24, Sector 2, București</a></p>
            <p>Telefon: <a href="tel:+40722216319">0722216319</a>; Ne poți contacta și pe <a href="https://wa.me/40722216319" target="_blank">Whatsapp</a>.</p>
            <p>Mail: <a href="mailto:vindemiatrix_astro@gmail.com" target="_blank">vindemiatrix_astro@gmail.com</a></p>
            <a href="#" id="link-top"><div id="triunghi"></div></a>
            <p><small>&#169; Vindemiatrix</small></p>
            <p><time datetime="2024-10-27 13:30">27.10.2024</time></p>
            <p id="absolut">Acesta este un proiect școlar.</p>
        </footer>