            <nav>
                <label id="hamburger" for="ch-meniu">
                    <img src="/resurse/ico/Hamburger_icon_alb.png" alt="meniu">
                </label>
                <input id="ch-meniu" type="checkbox">
                <ul class="meniu">
                    <li><div class="text" id="home">Acasă</div><div class="icon"><i class="fa-solid fa-house"></i></div>
                        <ul>
                            <li><a href="/index#date_firma">Vindemiatrix</a></li>
                            <li><a href="/index#astronomie">Astronomia</a></li>
                            <li><a href="/index#noutati_scurt">Evenimente</a></li>
                        </ul>
                    </li>
                    <li><a href="produse.html"><div class="text, op">Produse</div></a></li>
                    <li><a href="sfaturi.html"><div class="text, op">Sfaturi</div></a></li>
                    <li><a href="noutati.html"><div class="text, op">Noutăți</div></a></li>
                    <li><a href="/galerie"><div class="text">Galerie</div></a>
                        <ul>
                            <li><a href="galeriestatica">statica</a></li>
                            <li><a href="galeriedinamica">dinamica</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>